.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 15.625em;
    margin: 0.625em;
}

/* Added CSS for the sidebar */
.cart-section {
    position: fixed;
    top: 0;
    right: 0;
    width: 18.75em;
    height: 100%;
    background-color: #f2f2f2;
    padding: 1.25em;
    overflow-y: auto;
    z-index: 99; /* Ensure the cart is above the items */
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

/* Adjusted CSS for the form elements inside the sidebar */
.cart-section form {
    display: flex;
    flex-direction: column;
}

/* Adjusted CSS for the submit button */
.cart-section #btnsubmit {
    margin-top: 0.625em;
}

/* Media query for smaller screens */
@media (max-width: 48em) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .cart-section {
        width: 100%;
        height: auto;
        position: static;
        margin-top: 1.25em;
        padding: 0.625em;
        transform: translateY(calc(100% - 20em)); /* Move the cart below the items by default */
    }


}
